<div class='lightBarContainer'>
    <!--<div class='lightBarWrapper'>
      <div class="level top"></div>
      <ul id='lightBar' class="secondary">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>-->
    <div class='lightBarWrapper'>
      <div class="level bottom"></div>
      <ul id='lightBar' class="primary">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>